/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#header-item a{
    cursor: pointer;
}

#contents{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}


#contents > #queries{
    padding: 20px;
    display: none;
}

#contents .loader{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding-top: 20px;
    width: 100px;
    height: 100px;
}

#queries > .card{
    width: 250px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#search-modal .modal-body{
    height: 100px;
}

#add-modal .modal-body{
    height: 80px;
}

.card > .img-box{
    background-color: #e3e3e3;
    width: 100%;
    height: 35%;
}

.card > .img-box > img{
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.card > .caption{
    position: relative;
    width: 100%;
    height: 65%;
}

.card > .caption > h3{
    height: 25%;
    overflow: hidden;
}

.card > .caption > .cap-text{
    height: 35%;
    overflow: hidden;
}

.card > .caption > .mod-btn{
    width: 100%;
    height: 5%;
    position: absolute;
    padding-right: 18px;
    bottom: 0px;
    text-align: right;
}

.card > .caption > .mod-btn > span{
    text-align: right;
}


.query-state-on{
    color: yellow;
}

div.checkbox > label{
    margin-right: 10px;
}

div.checkbox > a {
    margin-right: 10px;
}

#queries > button.btn {
    background-color: #e3e3e3;
}

#queries > button.btn > a{
    color: black;
    text-decoration: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
